---
import BaseLayout from '@layouts/base.astro';

const title = 'Home';
const description =
    'Specialist in experiences which empower and bring people together.';
---

<BaseLayout title={title} description={description}>
    <h1>Hello World!</h1>
</BaseLayout>
